<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Sname" value="." />
    <add key="Dname" value="IMS" />
    <add key="Cname" value="Inventory Management" />
    <add key="RptFromServer" value="false" />
    <add key="ShareFolder" value="\Reports" />
    <!--<add key="IsResChange" value="0" />
    <add key="x" value="1280" />
    <add key="y" value="800" />
    <add key="IsOldResChange" value="0" />
    <add key="OldX" value="1024" />
    <add key="OldY" value="768" />
    <add key="MaxAccrument" value="62" />
    <add key="SplitDelForUt" value="," />
    <add key="Ut" value="ADMINISTRATOR,ACCOUNTS,PRIVATE,USERS,BILLING,SALARY ADMINISTRATOR,COURIER,OTHERS" />
    <add key="bgcol" value="237,237,207" />
    <add key="MaxRIdForAdvDel" value="3700" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>
  <connectionStrings>
    <add name="IMS_conn" connectionString="Data Source=.;Initial Catalog=IMS;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
